.row{
  margin-top: 10px;
  margin-bottom: 0;
  padding:8px;
}
.bold{
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.underline{
  text-decoration: underline;
}
.over{
  background-color: red !important;
}
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none !important;
}